
.header {
    background-color: rgba(0, 153, 204, 0.3);
    width:60%;
    margin:2px auto;
    border:1px solid black;
    height:100px;
    display:block;
}

.content {
    background-color: rgba(0, 153, 204, 0.3);
    transition: linear .3s;
    padding: 10px;
    width:60%;
    margin:10px auto;
    border:1px solid black;
    min-height: 700px;
    height:auto;
    display:block;
}

.footer {
    background-color: rgba(0, 153, 204, 0.3);
    width:60%;
    margin:5px auto;
    border:1px solid black;
    height:40px;
    display:block;
}

.toDoFooterDiv {

}


.todoItemDivColor:hover {
    background-color: rgba(0, 153, 204, 0.3);
    cursor: pointer !important;
    transition: linear .3s;
}

.todoItemDivColor {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 30%, rgba(0, 153, 204, 0.7) 100%);
    border-radius: 10px;
    border: none;
    /*box-shadow: 0px 0px 5px 0.2px orange;*/
    margin: 5px;
    padding: 10px;
}

.todoItemDoneDivColor {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.7) 30%,  rgba(0, 0, 0, 0.3) 100%);
    border-radius: 10px;
    border: none;
    /*box-shadow: 0px 0px 5px 0.2px orange;*/
    margin: 5px;
    padding: 10px;
    /*text-decoration: line-through;*/
}